:root {
  /* color scheme */

  /* CSS HEX */
  --color-pitch-black: #050505;
  --color-rich-black: #080808;
  --color-eerie-black: #131313;
  --color-jet: #323232ff;
  --color-lightjet: #32323225;
  --color-sky-blue1: #05d1f0ff;
  --color-sky-blue2: #7ae5f6ff;
  --color-azure: #eff9fbff;

  /* spaces */
  --space-xsmall: 5px;
  --space-small: 15px;
  --space-medium: 25px;
  --space-large: 35px;
  --space-xlarge: 50px;
}
