<nav class="app-navigation">
  <ul class="app-navigation__grid">
    <li class="app-navigation__item app-navigation__item--active">
      <a href="#" aria-label="Home">
        <i class="icon-anchor1"></i>
        <span class="app-navigation__label">Home</span>
      </a>
    </li>
    <li class="app-navigation__item">
      <a href="#" aria-label="My Bookmarks">
        <i class="icon-bookmark-outline"></i>
        <span class="app-navigation__label">Bookmarks</span>
      </a>
    </li>
    <li class="app-navigation__item">
      <a href="#" aria-label="Add Quiz Card">
        <i class="icon-list-add"></i>
        <span class="app-navigation__label">Quiz Card</span>
      </a>
    </li>
    <li class="app-navigation__item">
      <a href="#" aria-label="Quiz App Settings & Profile">
        <i class="icon-user1"></i>
        <span class="app-navigation__label">Settings</span>
      </a>
    </li>
  </ul>
</nav>
