<nav class="navigation">
  <li class="navigation__item navigation__item--active">
    <a href="index.html" aria-label="Home">
      <i class="icon-anchor1"></i>
      <span class="navigation__label">Home</span>
    </a>
  </li>
  <li class="navigation__item">
    <a href="bookmarks-list.html" aria-label="My Bookmarks">
      <i class="icon-bookmark-outline"></i>
      <span class="navigation__label">Bookmarks</span>
    </a>
  </li>
  <li class="navigation__item">
    <a href="create-card.html" aria-label="Create a Quiz Card">
      <i class="icon-list-add"></i>
      <span class="navigation__label">Add Card</span>
    </a>
  </li>
  <li class="navigation__item">
    <a href="account.html" aria-label="Quiz App Settings & Profile">
      <i class="icon-user1"></i>
      <span class="navigation__label">Settings</span>
    </a>
  </li>
</nav>
