.app-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}
.app-grid__header {
  grid-area: header;
  background: pink;
  text-align: center;
}
.app-grid__main {
  grid-area: main;
  overflow-y: scroll;
}
.app-grid__footer {
  grid-area: footer;
  background: black;
}
