.app-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
  max-width: 1050px;
  margin: 0 auto;
  background: var(--color-azure);
}

.app-grid__header {
  grid-area: header;
}

.app-grid__main {
  grid-area: main;
  overflow-y: scroll;
}

.section-grid {
  display: grid;
  grid-gap: var(--space-medium);
  padding: var(--space-medium);
  background: var(--color-azure);
}

@media screen and (min-width: 768px) {
  .section-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.app-grid__footer {
  grid-area: footer;
  background: var(--color-eerie-black);
  color: var(--color-azure);
}
