.badge-group {
  align-self: end;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.badge-group__badge {
  /* display: inline-block; */
  background: var(--color-eerie-black);
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 0.7em;
  font-weight: 300;
  color: var(--color-azure);
  margin-bottom: 0;
  text-transform: uppercase;
  flex-grow: 1;
  list-style: none;
  text-align: center;
}
