::selection {
  background: var(--color-sky-blue1);
  color: var(--color-sky-blue1);
  text-shadow: none;
}

[class^='form__']:not([type='submit']) {
  width: 100%;
  display: block;
  font-family: inherit;
  outline: none;
}

.form__fieldset {
  border: none;
}

.form__label {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.form__input,
.form__input--text,
.form__textarea {
  border: 1px solid var(--color-lightjet);
  border-radius: 5px;
  padding: 10px;
  vertical-align: top;
}

.form__input,
.form__select:not([multiple]):not([size]) {
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}
.form__input::placeholder {
  color: #999;
}

.form__input--radio,
.form__input--check {
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ccc;
  transition: 0.2s ease-in-out;
  transition-property: all;
  transition-property: background-color, border;
}

.form__select {
  text-transform: none;
}

.form__select[multiple],
.form__select[size] {
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: top;
}

.form__select:not([multiple]):not([size]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.form__submit {
  padding: 3px var(--space-small);
  border: 1px solid var(--color-eerie-black);
  border-radius: 3px;
  text-align: center;
  font-weight: 300;
  font-size: 0.9em;
  transition: background 0.3s ease-out;
  color: var(--color-sky-blue1);
  background: var(--color-eerie-black);
  outline: none;
}
