<form class="form">
  <fieldset class="form__fieldset">
    <div class="margin-top">
      <label class="form__label"
        >Text input in label
        <input
          type="text"
          class="form__input form__input--text"
          name="text"
          id="input-text"
      /></label>
    </div>
    <div class="margin-top">
      <label class="form__label" for="input-text2"
        >Text input after label</label
      >
      <input
        type="text"
        class="form__input form__input--text"
        name="text"
        id="input-text2"
      />
    </div>
    <input
      type="text"
      class="form__input form__input--text"
      name="text"
      id="input-text3"
      placeholder="Text input without label"
    />
    <div class="margin-top">
      <label class="form__label"
        >Radio button A
        <input
          type="radio"
          class="form__input form__input--radio"
          name="radio1"
          id="radio-button"
      /></label>
      <label class="form__label"
        >Radio button B
        <input
          type="radio"
          class="form__input form__input--radio"
          name="radio2"
          id="radio-button"
      /></label>
    </div>
    <div class="margin-top">
      <label class="form__label"
        >Checkbox A
        <input
          type="checkbox"
          class="form__input form__input--check"
          name="check1"
          id="checkbox"
      /></label>
      <label class="form__label"
        >Checkbox B
        <input
          type="checkbox"
          class="form__input form__input--check"
          name="check1"
          id="checkbox"
      /></label>
    </div>
    <div class="margin-top">
      <label class="form__label" for="textarea-dummy">Textarea label:</label>
      <textarea
        class="form__textarea"
        name="textarea"
        id="textarea-dummy"
        cols="30"
        rows="10"
      >
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor?
      </textarea>
    </div>
    <div class="margin-top">
      <label class="form__label" for="textarea-dummy">Select option:</label>
      <select class="form__select">
        <option>Option 01</option>
        <option>Option 02</option>
      </select>
    </div>
  </fieldset>
</form>
