<form class="form" data-js="form-card-create">
  <fieldset class="form__fieldset">
    <div class="form__fieldwrap">
      <label class="form__label" for="input-tags">Text input after label</label>
      <input
        data-js="form-field"
        s
        maxlength="70"
        type="text"
        class="form__input form__input--text"
        name="text"
        id="input-tags"
        placeholder="Type something"
      />
    </div>

    <div class="form__fieldwrap margin-top">
      <label class="form__label"
        >Text input in label
        <input
          type="text"
          class="form__input form__input--text"
          name="text"
          id="input-text"
      /></label>
    </div>
    <div class="form__fieldwrap margin-top">
      <input
        type="text"
        class="form__input form__input--text"
        name="text"
        id="input-text3"
        placeholder="Text input without label"
      />
    </div>
    <div class="form__fieldwrap margin-top">
      <label class="form__label" for="textarea-question">Textarea</label>
      <textarea
        data-js="form-field"
        maxlength="100"
        class="form__textarea form__textarea--question"
        name="textarea"
        id="textarea-question"
        rows="3"
      ></textarea>
    </div>
    <div class="form__fieldwrap margin-top">
      <label class="form__label"
        >Radio button A
        <input
          type="radio"
          class="form__input form__input--radio"
          name="radio1"
          id="radio-button"
      /></label>
      <label class="form__label"
        >Radio button B
        <input
          type="radio"
          class="form__input form__input--radio"
          name="radio2"
          id="radio-button"
      /></label>
    </div>
    <div class="form__fieldwrap margin-top">
      <label class="form__label"
        >Checkbox A
        <input
          type="checkbox"
          class="form__input form__input--check"
          name="check1"
          id="checkbox"
      /></label>
      <label class="form__label"
        >Checkbox B
        <input
          type="checkbox"
          class="form__input form__input--check"
          name="check1"
          id="checkbox"
      /></label>
    </div>
    <div class="form__fieldwrap margin-top">
      <label class="form__label" for="textarea-dummy">Select option:</label>
      <select class="form__select">
        <option>Option 01</option>
        <option>Option 02</option>
      </select>
    </div>
    <button type="submit" class="form__submit margin-top">Submit</button>
  </fieldset>
</form>
