<nav class="navigation">
  <button
    class="navigation__item navigation__item--active"
    aria-label="Home"
    data-js="nav-btn-1"
  >
    <i class="icon-anchor1"></i>
    <span class="navigation__label">Home</span>
  </button>
  <button
    class="navigation__item"
    aria-label="My Bookmarks"
    data-js="nav-btn-2"
  >
    <i class="icon-bookmark-outline"></i>
    <span class="navigation__label">Bookmarks</span>
  </button>
  <button
    class="navigation__item"
    aria-label="Create a Quiz Card"
    data-js="nav-btn-3"
  >
    <i class="icon-list-add"></i>
    <span class="navigation__label">Add Card</span>
  </button>
  <button
    class="navigation__item"
    aria-label="Quiz App Settings & Profile"
    data-js="nav-btn-4"
  >
    <i class="icon-user1"></i>
    <span class="navigation__label">Settings</span>
  </button>
</nav>
