.navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
  background: var(--color-rich-black);
  gap: 1px;
}

.navigation__item {
  display: flex;
  gap: 10px;
  flex-flow: column;
  background: var(--color-eerie-black);
  color: var(--color-azure);
  text-align: center;
  text-decoration: none;
  padding: 15px 5px 5px;
  align-items: center;
}

.navigation__item--active,
.navigation__item:hover {
  background: var(--color-rich-black);
  color: var(--color-sky-blue1);
  transition: background-color 0.5s ease-out;
}

.navigation__item > i {
  display: block;
  font-size: 1.3em;
}

.navigation__label {
  font-size: 0.7em;
}
