<div class="profile" style="background-color: #eff9fb">
  <figure class="profile__picture">
    <div class="blockquote">
      <quote class="blockquote_bubble">
        <h3 class="blockquote__quote">sabbel nich, dat geit.</h3>
        <h4 class="blockquote__credit">
          &mdash; Anneke Schütte<br /><em
            >web engineer & <br />action movie narcoleptic</em
          >
        </h4>
      </quote>
    </div>
    <img
      src="../assets/portrait_square_bl.jpg"
      alt=""
      width="130"
      height="130"
    />
  </figure>
</div>
