<section class="quiz-card">
  <button
    data-js="bookmark"
    type="button"
    class="quiz-card__bookmark icon-bookmark1"
    title="Bookmark this Quiz Card"
  ></button>
  <details class="quiz-card__details">
    <summary class="quiz-card__button">
      <h3 class="quiz-card__headline">What is CSS?</h3>
    </summary>
    <p class="quiz-card__answer">
      CSS stands for Cascading Style Sheets. It is a style sheet language which
      is used to describe the look and formatting of a document written in
      markup language. It provides an additional feature to HTML. It is
      generally used with HTML to change the style of web pages and user
      interfaces. It can also be used with any kind of XML documents including
      plain XML, SVG and XUL. CSS is used along with HTML and JavaScript in most
      websites to create user interfaces for web applications and user
      interfaces for many mobile applications.
    </p>
  </details>
  <div class="badge-group margin-top padding-top border-top">
    <span class="badge-group__badge">Default</span>
    <span class="badge-group__badge">CSS</span>
    <span class="badge-group__badge">Beginner</span>
    <span class="badge-group__badge">Intro</span>
    <span class="badge-group__badge">Basics</span>
  </div>
</section>

<section class="quiz-card">
  <a
    href="#"
    class="quiz-card__bookmark quiz-card__bookmark--active icon-bookmark1"
    title="Bookmark this Quiz Card"
  ></a>
  <details class="quiz-card__details">
    <summary class="quiz-card__button">
      <h3 class="quiz-card__headline">What is CSS?</h3>
    </summary>
    <p class="quiz-card__answer">
      CSS stands for Cascading Style Sheets. It is a style sheet language which
      is used to describe the look and formatting of a document written in
      markup language. It provides an additional feature to HTML. It is
      generally used with HTML to change the style of web pages and user
      interfaces. It can also be used with any kind of XML documents including
      plain XML, SVG and XUL. CSS is used along with HTML and JavaScript in most
      websites to create user interfaces for web applications and user
      interfaces for many mobile applications.
    </p>
  </details>
  <div class="badge-group margin-top padding-top border-top">
    <span class="badge-group__badge">Bookmarked</span>
    <span class="badge-group__badge">CSS</span>
    <span class="badge-group__badge">Beginner</span>
    <span class="badge-group__badge">Intro</span>
    <span class="badge-group__badge">Basics</span>
  </div>
</section>
