<section class="quiz-card">
  <button
    data-js="bookmark"
    name="bookmark"
    type="button"
    class="quiz-card__bookmark icon-bookmark1"
    title="Bookmark this Quiz Card"
  ></button>
  <h2 class="quiz-card__headline">What is CSS?</h2>
  <div class="quiz-card__answer" data-js="answer">
    <p>
      CSS stands for Cascading Style Sheets. It is a style sheet language which
      is used to describe the look and formatting of a document written in
      markup language. It provides an additional feature to HTML. It is
      generally used with HTML to change the style of web pages and user
      interfaces. It can also be used with any kind of XML documents including
      plain XML, SVG and XUL. CSS is used along with HTML and JavaScript in most
      websites to create user interfaces for web applications and user
      interfaces for many mobile applications.
    </p>
  </div>
  <button
    data-js="toggle-answer"
    name="toggle-answer"
    type="button"
    class="quiz-card__button"
  >
    Show answer
  </button>
  <ul class="badge-group margin-top padding-top border-top">
    <li class="badge-group__badge">Background</li>
    <li class="badge-group__badge">CSS</li>
    <li class="badge-group__badge">Beginner</li>
    <li class="badge-group__badge">Intro</li>
    <li class="badge-group__badge">Basics</li>
  </ul>
</section>

<section class="quiz-card">
  <button
    data-js="bookmark"
    name="bookmark"
    type="button"
    class="quiz-card__bookmark quiz-card__bookmark--active icon-bookmark1"
    title="Bookmark this Quiz Card"
  ></button>
  <h2 class="quiz-card__headline">What is CSS?</h2>
  <div class="quiz-card__answer" data-js="answer">
    <p>
      CSS stands for Cascading Style Sheets. It is a style sheet language which
      is used to describe the look and formatting of a document written in
      markup language. It provides an additional feature to HTML. It is
      generally used with HTML to change the style of web pages and user
      interfaces. It can also be used with any kind of XML documents including
      plain XML, SVG and XUL. CSS is used along with HTML and JavaScript in most
      websites to create user interfaces for web applications and user
      interfaces for many mobile applications.
    </p>
  </div>
  <button
    data-js="toggle-answer"
    name="toggle-answer"
    type="button"
    class="quiz-card__button"
  >
    Show answer
  </button>
  <ul class="badge-group margin-top padding-top border-top">
    <li class="badge-group__badge">Background</li>
    <li class="badge-group__badge">CSS</li>
    <li class="badge-group__badge">Beginner</li>
    <li class="badge-group__badge">Intro</li>
    <li class="badge-group__badge">Basics</li>
  </ul>
</section>
